@charset "utf-8";
@base-bagc : #fff ;

body{
  background : rgba(255, 102, 153, 0.16) ;
  margin:0 ;
  font-family:'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif
}
a , span{
  text-decoration: none;
  display: inline-block;
  color: inherit;
}



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body , html , .page {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.page{
  display: none;
}
.page-show{
  display: block;
}

.text-holder{
  textarea , input{
    display: none;
  }
}
.edit{
  .text-body{
    display: none;
  }
  .edit-area{
    display: inline-block;
  }
}

.img-holder{
  .upload-img{
    display: none;
  }
}

.edit{
  img{
    display: none;
  }
  .upload-img{
    display: inline-block;
  }
}

.text-left{
  text-align: left!important;
}
.text-right{
  text-align: right!important;
}
.text-center{
  text-align: center!important;
}

.text-justify{
  text-align: justify;
}


/*渐变函数*/
.duration(@durations:1s){
  -webkit-animation-duration: @durations;
  -moz-animation-duration: @durations;
  -o-animation-duration: @durations;
  animation-duration: @durations;
}

.duration-12{
  .duration(12s)
}

/*延迟函数*/
.delay(@time:1s){
  -webkit-animation-delay: @time;
  -moz-animation-delay: @time;
  -o-animation-delay: @time;
  animation-delay: @time;
}

.delay-0-5{
  .delay(0.5s)
}

.delay-1{
  .delay(1s)
}

.delay-1-5{
  .delay(1.5s)
}

.delay-2{
  .delay(2s);
}

.delay-2-5{
  .delay(2.5s);
}
.delay-3{
  .delay(3s)
}
.delay-3-5{
  .delay(3.5s)
}
.delay-4{
   .delay(4s)
 }
.delay-4-5{
  .delay(4.5s)
}
.delay-5{
  .delay(5s)
}
.delay-6{
  .delay(6s)
}
.delay-7{
  .delay(7s)
}

/*定位函数*/
.pl(@left : 0 ; @top : 0 ; @width : auto){
  position: absolute;
  left: @left;
  top:@top ;
  width : @width ;
}

.pr(@right : 0 ; @top : 0 ; @width : auto){
  position: absolute;
  right: @right;
  top:@top ;
  width : @width ;
}

.position(@left:auto ; @top : auto ; @right : auto ; @bottom:auto ; @width : auto){
  left: @left;
  top: @top;
  right: @right;
  bottom: @bottom;
  width: @width;
}

.duration-3{
  .duration(3s);
}

.duration-2{
  .duration(2s);
}

.duration-6{
  .duration(6s);
}

.fr{
  float: right;
}
.fl{
  float: left;
}
.clear{
  clear: both;
}

.page-item .garden-group img{
  position: absolute;
}

textarea , input{
  padding: 5px;
  border: 2px dotted #0FEFD5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(255,255,255,.3);
}

textarea:focus , textarea:visited{
  outline: none;
}

.page-group{
  width: 100%;
  height: 100%;
  .page-item{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: @base-bagc;
    position: relative;
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    .text-holder{
      font-size: 18px;
    }
    .words{
      font-size: 18px;
      text-shadow: 1px 1px 1px #fff;
    }
    &.active{
      display: block;
    }
    &.loving-first{
      background-image: url(../images/loving/2.png);
      .boy-section{
        .boy{
          .pr(110px , 0 ,160px);
          z-index: 2;
        }
        .car{
          .pr(5px , 15px);
        }
        .car2{
          position: absolute;
          right: 1px;
          top: 25px;
        }
      }
      .center-point{
        margin-top: 60%;
        text-align: center;
      }
      .girl-section{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .girl{
          width: 235px;
        }
        .words{
          position: absolute;
          top: 20px;
          right: 20px;
          width: 50%;
        }
      }
    }

    /*loving第二页*/
    &.loving-second{
      background-image: url(../images/loving/13.png);
      .girl-section{
        .girl{
          position: absolute;
          width: 100px;
          right: 115px;
          top: 65px;
          z-index: 2;
        }
        .tree{
          position: absolute;
          right: -10px;
          top: -30px;
          width: 241px;
        }
      }
      .heart{
        margin-top: 40%;
        padding-left: 50px;
      }
      .words{
        .position(auto , 30% , 20px , auto , 50%);
      }
      .boy-section{
        .deng {
          position: absolute;
          left: 0;
          bottom: 0;
        }
        .deng2{
          position: absolute;
          left: -9px;
          bottom: -16px;
        }
        .boy{
          position: absolute;
          left: 45px;
          bottom: 0;
          width: 210px;
        }
        .cao{
          .position(auto , auto , -4px , -46px , 157px);
        }
      }
    }

    /*loving第三页*/
    &.loving-third{
      background-image: url(../images/loving/15.png);
      .words{
        margin-top: 20%;
        margin-left: 40px;
        margin-right: 30px;
      }
      .garden-group{
        .garden2{
          .position(-185px);
        }
        .garden{
          .position(-135px);
        }
        .garden3{
          .position(auto , auto , -36px , 0 , 560px);
        }
        .garden4{
          .position(auto , auto , -53px , 10px )
        }
        .garden5{
          .position(auto,auto,-34px,10px)
        }
        .garden7{
          .position(auto , auto , 0 , 85px )
        }
        .garden8{
          .position(auto,auto,0 ,48px)
        }
        .garden9{
          .position(auto,auto,-42px,0)
        }
        .garden10{
          .position(50px,auto,0,0)
        }
        .garden11{
          .position(-14px,auto,auto,0 ,110px)
        }
        .garden12{
          .position(20%,40%)
        }
      }
    }
    
    /*第四*/
    &.loving-fourth{
      background-image: url(../images/loving/27.png);
      .words{
        .position(auto,20%,5px,auto,50%) ;
        margin-right: 20px;
      }
      .garden-group{
        .garden1{
          .position(auto,auto,27%,42%)
        }
        .garden2{
          .position(30px,15px);
          width: 144px;
        }
        .garden3{
          .position(-18px,97px)
        }
        .garden4{
          .position(17px,129px)
        }
        .garden5{
          .position(49px,44px)
        }
        .garden6{
          .position(40px,auto,auto,126px)
        }
        .garden7{
          .position(auto,auto,-21px,0)
        }
        .garden8{
          .position(auto,auto,0,0)
        }
      }
    }

    /*第五*/
    &.loving-five{
      background-image: url(../images/loving/39.png);
      .garden-group{
        .garden{
          top: -40px;
          left: 0;
          width: 100%;
        }
        .garden1{
          left: 20px;
          top: -10px;
        }
        .garden2{
          left: -20px;
          top: -20px;
          bottom: 0;
          right: 0;
          width: 100%;
        }
        .garden3{
          left: 0;
          top: 80px;
          width: 250px;
        }
        .garden4{
          right: 10px;
          bottom: -15px;
        }
        .garden5{
          left: 52px;
          top: 229px;
          width: 180px;
        }
        .garden6{
          left: 29px;
          top: 233px;
          width: 180px;
        }
        .garden7{
          right: 20%;
          top: 30%;
        }
        .garden8{
          width: 100%;
          left: 0;
          top: 0;
        }
        .img-holder{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url(../images/loving/1.jpg);
          background-repeat: no-repeat;
          background-position: center center;
          -webkit-background-size: cover;
          background-size: cover;
        }
      }
      .words{
        width: 70%;
        position: absolute;
        bottom: 30px;
        left: 15px;
      }
    }

    /*第七*/
    &.loving-seven{
      background-image: url(../images/loving/41.png);
      .garden-group{
        .img-holder{
          width: 180px;
          height: 180px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          top: 30px;
          left: 50%;
          margin-left: -90px;
          border: 12px solid #DD033F;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        .garden{
          bottom: 30%;
          left: 45%;
        }
      }
      .words{
        margin-top: 230px;
        text-align: center;

      }
    }

    /*封面*/
    &.cover-love{
      text-align: center;
      background-color: rgb(248, 145, 166);
      .lover-font{
        width: 80%;
        margin-top: 40px;
      }
      .text-holder{
        color: #ffffff;
        margin-top: 20px;
      }
    }
    
    /*封面2*/
    &.cover-romantic{
      background-image: url(../images/lover/cover-bag1.png);
      background-repeat: repeat;
      .cover-body{
        padding: 15px;
        img{
          width: 100%;
        }
        .flower{
          position: relative;
          top: -80px;
        }
        .font{
          position: relative;
          top: -120px;
        }
      }
      .text-group{
        position: absolute;
        top: 30px;
        padding:50px 70px 0;
        .text-holder:first-child{
          margin-bottom: 20px;
        }
        .text-justify{
          text-indent: 20px;
        }
        .text-holder:last-child{
          margin-top: 20px;
        }
      }
    }

    /*单图1*/
    &.one-pic{
      text-align: center;
      .top{
        height: 190px;
        background-color: rgb(30, 24, 55);
        color: #ffffff;
        text-align: center;
        padding-top:50px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 24px;
      }
      .img-holder{
        position: relative;
        top: -67px;
        img , .upload-img{
          width: 130px;
          height: 130px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          border: 2px solid #e0e0e0;
        }
        .upload-img{
          line-height: 130px;
          border-style: dotted;
          background-color: #fff;
        }
      }
      .text-group {
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: -50px;
        &:after{
          content: '';
          display: table;
          clear: both;
        }
        .text-holder{
          float: left;
          padding: 10px 6px;
          line-height: 22px;
          font-size: 14px;
          .text-body{
            width: 14px;
          }
          textarea{
            width: 19px;
            padding: 0;
          }
        }
      }
    }

    &.endPage{
      background-image: url(../images/lover/cover-bg3.png);
      background-repeat: repeat;
      -webkit-background-size: 25% 25%;
      background-size: 25% 25%;
      .top{
        height: 50%;
        border-bottom: 1px solid #ddd;
        text-align: center;
        padding-top: 30%;
        color: rgb(12, 137, 137);
        &:last-child{
          border-bottom: none;
        }
        a{
          display: block;
        }

        .iconfont{
          font-size: 40px;
          margin-bottom: 10px;
          display: block;
        }
      }

    }

  }
}

.page-list{
  .item{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 600px;
    overflow: hidden;
    margin: 10px 0;
    .page-item{
      display: block;
    }
  }
}

.menu-bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  color:#fff;
  background-color: #2e3548;
  z-index: 9999;
  display: flex;
  .menu-item{
    flex: 1;
    -ms-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-webkit-flex: 1;
    -ms-webkit-flex: 1;
    -o-webkit-flex: 1;
    webkit-flex: 1;
    display: block;
    text-align: center;
    line-height: 45px;
    -webkit-tap-highlight-color: transparent;
  }
}

.wrapper{
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9995;
  display: none;
}

.menu-list{
  position: absolute;
  bottom: 40px;
  left: 0;
  padding: 10px;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  .item{
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    .iconfont{
      display: block;
        border: 1px solid #ffffff;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      margin: 0 auto 10px;
      background-color: #fff;
      color: #000;
      &.back{
        line-height: 31px;
        padding-left: 3px;
      }
      &.up{
        line-height: 31px;
      }

    }
  }
}

.round{
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 28px;
  padding: 0 18px;
  margin-top: 9px;
}





